@charset "utf-8";
/* CSS Document */

 body {
	background-image: url(images/dominik-schroder-FIKD9t5_5zQ-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	 max-width: 100%;
	 height: auto;
	margin: auto;
	padding: 0;
    font-family: sans-serif;
	font-size: 18px;
     }
 body {
	 font-family: 'Lato', sans-serif;
   /*font-family: 'Fondamento', cursive;
    font-family: 'Grenze Gotisch', cursive;*/
   
}
  div {
	  display: block;
      }
    h1 {
	 margin: 0;
     font-size: 48px;
	color: #fff;
    }

  #kontakt h2,
  #omeni h2 {
	text-align: center;
    background: rgba(66,65,65,0.77);
    border-radius: 10px;
	width: 250px;
	height: 40px;
	color: #fff;
	margin: 0;
	padding-top: 3px;
    }
   
 html {
     scroll-behavior: smooth;
     }

    .imgresponsive {
     max-width: 100%;
       height: auto;
     }
#omeni {
	 background: #ffffff;
	 padding: 30px 60px;
	 text-align: justify;
      }
 #kontakt {
	display: inline-block;
	/*box-sizing: border-box;*/
	 width: auto;
	 padding: 0 20px;
   }

          /********scroll*********/

 ::-webkit-scrollbar {
    width: 20px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	box-shadow: rgba(0,0,0,0.3);
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.5); 
	box-shadow: rgba(0,0,0,0.5);
}

               /**********video*******/

  #videoback {
	  padding:300px 0;
	  position:relative;
	  overflow:hidden;
	  text-align:center;
	  color: #FFF;
	  font-size: 25px;
   }

  #bgvid {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  min-width: 100%;
	  min-height: 100%;
	  width: auto;
	  height: auto;
	  z-index: -100;
	  -webkit-transform: translateX(-50%) translateY(-50%);
	  transform: translateX(-50%) translateY(-50%);
	  /* [disabled]background: url(video/background.jpg) no-repeat; */
	   background-size: cover;
   }

                /********navigaciona traka********/

  #nav {
	height: 60px;
	width: 100%;
	color: transparent;
	position: -webkit-sticky;
	position: sticky;
	position: fixed;
	top: 0;
	z-index: 2;	
	}

  #nav ul {
	margin: 0;
	padding: 0;
	/* [disabled]list-style: none; */
    }

  .meniblok {
	  display: block;
	  float: left;
	  height: 45px;
	  width: 150px;
	  text-align: center;
	  font-size: 22px;
	  margin-right: 2px;
	  margin-left: 5px;
	  padding-top: 15px;	
    }
  .meniblok a {
	text-decoration: none;
	color: #ffffff;
	width: 70px;
	height: 40px;
	}
  .meniblok:hover {
	background: rgba(43,43,43,0.82);
	height: 60px;
   }
  .meniblok a:hover {
    font-family: 'Grenze Gotisch', cursive;
	font-size: 30px;
	background-size: 100%;
	transition: 2s all ease-in-out;
    padding-top: 15px;
  }

   #map {
	  border: solid 1px #307032;
	  float: left;
    }
   #form {
	 float: left;
	 padding-right: 10px;
     background-color: #FFFFFF transparent;
     }
   
    #subject,
    #email,
    #name,
    #textarea {
	 width: 400px;
	 padding: 5px;
	 margin: 5px;
	 box-sizing: border-box;
	 font-size: 18px;
	 border: #307032 1px solid;
     }

   #reset, #send {
	  background: #cae8ca;
	  color: #000000;
	  border-radius: 5px;
	  padding: 10px;
	  margin: 15px;
   }
  
   #form p {
	  margin: 0;
   }

   #podaci {
	  width: 350px;
	  float: left;
	  margin-right: 20px;
	  text-align: center;
	  background-color: #ffffff transparent;
	  padding-left: 10px;
     }
  

   #social li{
	 float: left;
	 display: inline-block;
	 margin-left: 25px;
	 
   }
   #social li a {
	  text-decoration: none;
     }    

    .fa {
	padding: 20px;
	width: 60px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
     }

    .fa:hover {
       opacity: 0.7;
     }

    .fa-facebook {
       background: #3B5998;
       color: white;
      }

     .fa-twitter {
        background: #55ACEE;
        color: white;
      }

    .fa-linkedin {
       background: #007bb5;
       color: white;
     }


   footer {
	  text-align: center;
	  font: italic;
	  color: #ffffff;
	  padding-top: 25px;
	  height: 70px;
      background: rgba(66,65,65,0.77);
     }
   .clearfix:after {
      content: "";
      display: table;
      clear: both;
	   margin: 0;
	   padding: 0;
    }

    /****slike*****/


   * {
      box-sizing: border-box;
      color: #333;
     }

  .hover-fold {
    background: rgba(72,72,72,0.98);
	color: #fff;
    border: 5px white solid;
    height: 310px;
    margin: 10px auto;
    -moz-perspective: 1500;
    -webkit-perspective: 1500;
    perspective: 1500;
    position: relative;
    width: 410px;
  }

.hover-fold h2 {
  border-bottom: 1px solid #fff;
  margin: 0 40px;
  padding: 50px 0 2px;
	color: #fff;
}
.hover-fold .top {
  height: 50%;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 10;
}
.hover-fold .top .face {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}
.hover-fold:hover .top {
  -moz-transform: rotateX(-180deg);
  -ms-transform: rotateX(-180deg);
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}
.hover-fold .front {
	height: 100%;
	width: 100%;
	
}
.hover-fold .back {
  background: rgba(72,72,72,0.98);
  height: 100%;
  /*has to be 100% of .top */
  padding: 0 40px;
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
  width: 100%;
}
.hover-fold .back p {
  margin: 0;
	color: #FFFFFF;
}
.hover-fold .bottom {
  height: 50%;
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 0;
}
.hover-fold p {
	font-size: 14px;
}
.projekti {
	display: inline-block;
	margin: 30px 110px;
	
}
.hover-fold {
	float: left;
	margin-right: 50px;
	margin-left: 40px;
}
.link {
	color: #fff;
	text-decoration: none;
}

             /****responsive***/

@media only screen and (min-width: 1020px) and (max-width: 1249px) {
	.projekti {
		margin: 1%;
		display: block;
	}
	.hover-fold {
		margin: 3%;
		float: left;
	}
}

 @media only screen and (min-width: 880px) and (max-width: 1019px) {	
	.hover-fold {
		margin: 10px;
	}
	.projekti {
		margin: 0;
		
	}
}
@media only screen and (min-width: 648px) and (max-width: 879px) { 
	.projekti {
	    margin: 0;
	}
	.hover-fold {
		 display: grid;
		align-items: center;
		grid-template-columns: repeat(auto-fill);
		margin-left: 25%;
		margin-right: 5%;
	}
}
@media only screen and (max-width: 647px) {
	.meniblok {
		width: 23%;
	}
	.hover-fold {
		margin: 10px 0;
	}
	.projekti {
		margin: 0;
	}
	
}


   